.container {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 60%;
  z-index: 22;
  transform: translate(-50%, -50%);
}
h3 {
  text-align: center;
  background-color: #8888881f;
  margin: 0;
  padding: 10px;
}
select {
  width: 90%;
  height: 30px;
  margin: 5px;
  border: 1px solid rgb(153, 153, 243);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > div {
  width: 100%;
}
input {
  width: 90%;
  height: 30px;
  margin: 5px;
  border: 1px solid rgb(153, 153, 243);
}
.part-one {
  display: flex;
}
.part-two {
  display: flex;
}
.textArea {
  width: 100%;
}
textarea {
  width: 98%;
  margin: 5px;
  border: 1px solid rgb(153, 153, 243);
}
button[type="submit"] {
  color: white;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 5px;
}
.actions > button {
  margin: 0.5rem;
  font-size: 20px;
  text-align: center;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
